html{
    height:100%;
    min-width: 248px;
    font-size: 16px;
    color: #333333
}
body{
    min-height: 100%;
    position: relative;
    margin: 0 auto
}

.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

content{
    /* display: block; */
    flex: 1;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
}
