.checkout{
  display:flex;
  flex-direction: column;
  height : 100%;
  &__header{
    display: flex;
    width: 100%;
    padding : 10px;
    align-items: center;
    height: 75px;
    color: white;
    &__logo{
        flex-basis: 100px;
        &__img{
            width: 100px;
        }
    }
    &__help-line{
        flex:1;
        text-align: right;
        &__number{
            font-weight: 500;
        }
    }
  } ;

  
&__content{
  padding: 0 20px;
}
  &__radios{
    padding: 20px 0;
  };
  &__loginForm{
      display: flex;
      flex-direction: column;
      align-items: center;
    
    &__input{
      width: 100%;
      padding: 5px 0;
    };
    &__switchBut{
      width: 100%;
      padding: 10px 0;
    }
    &__buttonContinue{
      width: 100%;;
      padding: 0 0;
      margin: 20px 0;
    }
  };
  &__addressForm{
    padding-bottom: 10px;
    &__title{
      font-size: 1.3rem;
      font-weight: 500;
      padding: 15px 0;
    }
    &__findAddressText{
      width: 100%;;
      padding: 0 0;
      margin: 10px 0;
      text-align: center;
      font-size: 1.1rem;
    }
    &__findPostcodeButton{
      width: 50%;
      margin: 15px auto;
    }
    &__changeAddress{
      color: blue;
      text-decoration: underline;
      margin: 10px 0;
    }
  };
  &__payment{
    padding: 20px;
  }
};