header{
    background-color: #0a3055;
}
#header-in-center{
    padding: 3px 12px;
}
#header-in-center div{
    padding: 5px 0;
}
    .upper-header{
        display: flex;
        align-items: center;
    }
        #logo{
            width: 100px;
        }
        
        #upper-header-blank{
        flex:1;
        }
        #shopping-cart-icon-wrap{
            position: relative;
            background-color: #0277bd;
            width: 47px;
            border-radius: 5px;
            margin-right: 25px;
            text-align: center;
        }
            .shopping-cart-icon{
                color: white;
                font-size: 35px;
                padding: 9px;
                }
                #cart-counter{
                    position: absolute;
                    top: -10px;
                    left: -10px;
                    color: white;
                    border-radius: 50%;
                    background-color: red;
                    width: 25px;
                    height: 25px;
                    font-size: 0.7rem;
                    line-height: .8;
                    border: 2px solid #0a3055;
                    text-align: center;
                    }
        .menu-bars-icon{
        color:white;
        font-size: 35px;
        font-weight: bold;
        padding: 8px;
        }
        #menu-bars-icon-wrap{
        background-color: #0277bd;
            width: 45px;
            border-radius: 5px;
            text-align: center;
            cursor: pointer;
        }
    .lower-header{
        position: relative;
    }
        input[type=search]{
            padding: 7px 70px 7px 15px;
            color: #3e3e3e;
            border: 1px solid #ccc;
            border-radius: 3px;
            width:100%;
            font-size: 1rem;
        }
    
        .magnifier-icon{
            position: absolute;
            right: 13px;
            top: 13px;
            font-size: 20px;
            color: #0a3055;
        }