.product-back-link {
  color: #287fd9;
  padding-top: 10px;
  padding-bottom: 15px;
}
.product-dialog-upper-wrap {
  display: flex;
}
.product-img-wrap {
  padding: 10px;
  height: 350px;
}
.product-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-price {
  text-align: center;
  display: block;
  margin: 15px 0;
  font-weight: 800;
  font-size: 2rem;
}
.product-dialog-img-wrap {
  height: 100px;
  flex-basis: 120px;
  padding: 5px;
}
.product-dialog-img-wrap > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.product-dialog-text {
  flex: 1;
  padding: 5px;
}
.product-dialog-quant {
  color: #aaaaaa;
}
.product-dialog-desc {
  font-size: 0.8rem;
}
